<!DOCTYPE html>
{% load static %}

<html lang="es">

  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>

  <body>
  <div class="container">    
  	<h1>Herramientas</h1>

    {% for entrada in entradas %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre de la Herramienta</th>
          <th scope="col">{{ entrada.nombre }}</th>
        </tr>
      </thead>
      <tbody>  	
        <tr>
          <td>Descripción</td>
          <td>{{ entrada.descripcion }}</td>
        </tr>
        <tr>
          <td>enlace</td>
          <td><a href="{{ entrada.enlace }}">{{ entrada.enlace }}</a></td>
        </tr>
        <tr>
          <td>fotografia</td>
          {% if entrada.fotografia %}
          <td><img src="{{ entrada.fotografia.url }}" width="100px"></td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
        <tr>
          <td>Observaciones y Sugerencias</td>
          <td>{{ entrada.observaciones_sugerencias }}</td>
        </tr>
      </tbody>
    </table>
    {% endfor %}

    <br>
    <h2>Contenido Dinámico</h2>
    <p>
      Tu haz visitado esta página {{ num_visits }}{% if num_visits == 1 %} vez{% else %} veces{% endif %}.
    </p>
  </div>

  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>